body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav.menu{
    text-align: center;
    background-color: gainsboro;
    width: 150px;
    
}
.active{
    background-color: black;
    /* color: white; etkilemedi cunku yazi a nin icinde*/

}
a.link{
    color: white;
}
a{
    text-decoration: none;
    color:black
}